h2 {
    text-align: center;
    margin-bottom: 50px
}

i {
    margin:10px;
    color: coral;
    cursor: pointer;
}

p { font-style:italic}

img {
    width: 100px;
    margin-right: 30px;
}

form {
    width: 50%;
    margin: 30px auto}

form * {
    margin: 10px auto;
    text-align: center;
    width: 100%
}

#estudios {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.estudio {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid white;
    min-width: 50%;
    margin: 10px auto;
}

.estudio:hover {
    transform: scale(1.05,1.05);
    border: 1px coral solid;
}

@media only screen and (max-width: 920px) {
    form {width:75%}
    .estudio {
        width: 80%;
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
    form {width:100%}
    .estudio {width: 100%}
}
