h2 {
    text-align: center;
    margin-bottom: 50px
}

i {
    margin: auto 10px;
    color: coral;
    cursor: pointer;
}

p { font-style:italic ;}

img {
    width: 100px;
    margin-right: 30px;
}

#estudios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.estudio {
    display: flex;
    align-items: center;
    padding: 30px;
    border: 1px solid white;
    width: 50%;
    margin: 10px;
}
