<button *ngIf="!editar && !logueado" (click)="editar = true">Iniciar sesión</button>
<button *ngIf="logueado" (click)="logout()">Cerrar sesión</button>
<form [formGroup]="form" *ngIf="editar" (ngSubmit)="login($event)">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" id="email">
        <label for="contrasena">Contraseña:</label>
        <input type="password" formControlName="contrasena" id="contrasena">
        <button type="submit">Ingresar</button>
</form>
<p *ngIf="loginError">usuario y/o contraseña incorrectos</p>