<header>
    <p><b>Argentina Programa <p>#YoProgramo</p></b></p>
    <nav>
        <ul>
            <li routerLink="/inicio" aria-current="page">Inicio</li>
            <li routerLink="/sobre-mi" aria-current="page">Sobre mi</li>
            <li routerLink="/estudios" aria-current="page">Educacion</li>
            <li routerLink="/tecnologias" aria-current="page">Tecnologias</li>
            <li routerLink="/proyectos" aria-current="page">Proyectos</li>
            <li routerLink="/contacto" aria-current="page">Contacto</li>
            <li><app-login></app-login></li>
        </ul>
    </nav>
</header>

