header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:30px;
}

p p {
    display: inline;
    color: #54BAB9
}

ul {list-style-type: none}

li {
    display: inline;
    margin: 10px;
    cursor: pointer;
}

li:hover {color: coral}

