<header>
    <p><b>Argentina Programa <p>#YoProgramo</p></b></p>
    <nav>
        <ul>
            <li routerLink="/inicio" ariaCurrentWhenActive="page"  routerLinkActive="active-link">Inicio</li>
            <li routerLink="/sobre-mi" ariaCurrentWhenActive="page"  routerLinkActive="active-link">Sobre mi</li>
            <li routerLink="/estudios"ariaCurrentWhenActive="page"  routerLinkActive="active-link">Educacion</li>
            <li routerLink="/tecnologias" ariaCurrentWhenActive="page"  routerLinkActive="active-link">Tecnologias</li>
            <li routerLink="/proyectos" ariaCurrentWhenActive="page"  routerLinkActive="active-link">Proyectos</li>
            <li routerLink="/contacto" ariaCurrentWhenActive="page"  routerLinkActive="active-link">Contacto</li>
            <li><app-login></app-login></li>
        </ul>
    </nav>
</header>

