h2 {text-align: center;
margin-bottom: 50px}

p { margin: 10px}

img { height: 80px}

i {
    margin: auto 10px;
    color: coral;
    cursor: pointer
}

form {
    width: 80%;
    margin: 30px auto}

form * {
    margin: 10px auto;
    text-align: center;
    width: 100%
}

#agregar {
    text-align: center;
    color: coral
}

#skills {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
    width: 80%;
}

.skill {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px white solid;
    width: 150px;
}

.skill:hover {
    transform: scale(1.05,1.05);
    border: 1px coral solid;
}