<div id="componente">
    <h2>Tecnologias</h2> 
    <p id="agregar" *ngIf="editar"><i class="fa-solid fa-circle-plus"></i>Agregar tecnologia</p>
    <div id="skills">
        <div class="skill" *ngFor="let habilidad of habilidades">
            <img [src]="habilidad.img" alt="Logo">
            <p>{{habilidad.nombre}}</p>
            <i class="fa-solid fa-pen-to-square" title="editar" *ngIf="editar"></i>
            <i class="fa-sharp fa-solid fa-trash" title="eliminar" *ngIf="editar"></i>
        </div>
    </div>
</div>
