<div id="acerca-de">    
    <div id="photo">
    </div>
    <div id="name">
        <h1>Fabiana Jazmin Amato</h1>
        <h2>Full Stack Developer Jr</h2>
    </div>
    <div id="informacion">
        <p><i class="fa-solid fa-calendar "></i> 29 años</p>
        <p><i class="fa-solid fa-location-dot"></i> San Rafael, Mendoza.</p>
        <p><i class="fa-solid fa-phone"></i> +54 9 11-33972393</p>
        <p><i class="fa-sharp fa-solid fa-envelope"></i> proyectos.amato@gmail.com</p>
    </div>
</div>