<section>
    <h2>Sobre mi</h2>
    <div id="sobre-mi">
        <img src="../../../assets/images/img-sobreMi.png" alt="Mujer trabajando">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum autem alias esse quam inventore quia cupiditate, quae vel adipisci ipsa dolorem reprehenderit voluptate magni quod magnam temporibus! Similique, est id.<br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem consequatur placeat similique ipsum. Enim distinctio mollitia fugit excepturi laudantium dolores, sequi quia consequatur pariatur sunt est. Dolorum ullam vel vitae! <br>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur laboriosam ducimus facilis soluta impedit illo dignissimos doloremque repellat esse excepturi itaque molestias magnam in eius, accusamus alias quam omnis? Assumenda.</p> 
    </div>
</section>
    