<section>
    <h2>Sobre mi  <i class="fa-solid fa-pen-to-square fa-sm" title="editar" (click)="editar=!editar" *ngIf="logueado"></i></h2>
    <div id="sobre-mi">
        <div id="imagen">
            <img [src]="datos.imagen" alt="Foto">
        </div>
        <div>
            <p>{{datos.descripcion1}}</p>
            <textarea name="descripcion1" id="descripcion1" [(ngModel)]="datos.descripcion1" *ngIf="editar"></textarea>
            <p>{{datos.descripcion2}}</p>
            <textarea name="descripcion2" id="descripcion2" [(ngModel)]="datos.descripcion2" *ngIf="editar"></textarea>
            <p>{{datos.descripcion3}}</p>
            <textarea name="descripcion3" id="descripcion3" [(ngModel)]="datos.descripcion3" *ngIf="editar"></textarea>
            <div id="editImg" *ngIf="editar">
                <label for="img">Imagen:</label>
                <input type="text" [(ngModel)]="datos.imagen" id="img">
            </div>
            <button (click)="editarDatos()" *ngIf="editar">Editar</button>
        </div>
    </div>
</section>
    