h2 {text-align: center;
    margin-bottom: 50px;}

img { height: 50vh}

p {width: 50%; line-height:25px;}

#componente {
    padding: 30px;
    height: 100vh;
}

#sobre-mi {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: space-evenly;
}

#sobre-mi *{
    padding: 50px;
}

