section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 0 100px
}

h2 {
    font-size: 50px;
    color: white;
}

h1 {
    font-size: 60px;
    margin: 20px auto;
    width: 100%
}

h3 {
    font-size: 40px;
    color:#54BAB9;
    width: 100%;
    margin:20px auto
}

h1, h2, h3 {
    animation-name: entrada;
    animation-duration: 3s;
    position: relative;
}

i {
    color:coral;
    margin: auto 15px;
    cursor: pointer
}

input { 
    width: 340px;
    height: 30px;
    font-size: 20px
}
button {margin-left: 20px}

@keyframes entrada {
    0%   {left:-100vw}
    100% {left:0px}
}

@media only screen and (max-width: 900px) {
    section {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 635px) {
    h1, h2, h3 {
        font-size: 30px; 
        margin: 15px
    } 
}